*{
    margin: 0;
    padding: 0;
}
.slide_window{
    width: 600px;
    overflow: hidden;
    position: relative;
}
.slide_window ul{
    width: 1800px;
    font-size: 0;
}
.slide_window li{
    display: inline-block;
    width: 600px;
    height: 400px;
    list-style-type: none;
    position: relative;
    display: none;
}
.slide_window li img{
    width: 100%;
    height: 100%;
}
.selector{
    z-index: 100;
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
}
.selector .Is{
    border: 1px solid red;
    display: inline;
    border-radius: 15px;
    padding: 0px 10px;
}
.selector .active{
    background-color: black;
}
.selector i{
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-color: red;
    display: inline-block;
    border-radius: 100%;
}
.slide_window .leftbutton{
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: red;
    z-index: 100;
}
.slide_window .rightbutton{

}
