*{
    margin: 0;
    padding: 0;
}
.myswiper{
    display: flex;
    align-items: center;
    position: relative;
    width: 600px;
}
.myswiper .slide_window{
    width: 600px;
    overflow: hidden;
    position: relative;
}
.myswiper .slide_window ul{
    width: 1800px;
    font-size: 0;
}
.myswiper .slide_window li{
    display: inline-block;
    width: 600px;
    height: 400px;
    list-style-type: none;
    position: relative;
    display: none;
}
.myswiper .slide_window li img{
    width: 100%;
    height: 100%;
}
.myswiper .selector{
    z-index: 100;
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
}
.myswiper .selector .Is{
    border: 1px solid red;
    display: inline;
    border-radius: 15px;
    padding: 0px 10px;
}
.myswiper .selector .active{
    background-color: black;
}
.myswiper .selector i{
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-color: red;
    display: inline-block;
    border-radius: 100%;
    margin: 0 3px;
}
.myswiper .leftbutton{
    position: absolute;
    left: 0;
    /*top:0;*/
    width: 50px;
    height: 50px;
    background-color: #feff31;
    z-index: 100;
    display: none;
}
.myswiper .rightbutton{
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #feff31;
    z-index: 100;
    display: none;
}
